################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Release/vc140.pdb
/x64/Release/Trie.tlog/unsuccessfulbuild
/x64/Release/Trie.tlog/Trie.lastbuildstate
/x64/Release/Trie.tlog/link.write.1.tlog
/x64/Release/Trie.tlog/link.read.1.tlog
/x64/Release/Trie.tlog/link.command.1.tlog
/x64/Release/Trie.tlog/CL.write.1.tlog
/x64/Release/Trie.tlog/CL.read.1.tlog
/x64/Release/Trie.tlog/CL.command.1.tlog
/x64/Release/Trie.obj
/x64/Release/Trie.log
/x64/Release/main.obj
/x64/Debug/vc140.pdb
/x64/Debug/vc140.idb
/x64/Debug/Trie.tlog/unsuccessfulbuild
/x64/Debug/Trie.tlog/Trie.lastbuildstate
/x64/Debug/Trie.tlog/link.write.1.tlog
/x64/Debug/Trie.tlog/link.read.1.tlog
/x64/Debug/Trie.tlog/link.command.1.tlog
/x64/Debug/Trie.tlog/link.13428.write.1.tlog
/x64/Debug/Trie.tlog/link.13428.read.1.tlog
/x64/Debug/Trie.tlog/link.13428-rc.write.1.tlog
/x64/Debug/Trie.tlog/link.13428-rc.read.1.tlog
/x64/Debug/Trie.tlog/link.13428-cvtres.write.1.tlog
/x64/Debug/Trie.tlog/link.13428-cvtres.read.1.tlog
/x64/Debug/Trie.tlog/CL.write.1.tlog
/x64/Debug/Trie.tlog/CL.read.1.tlog
/x64/Debug/Trie.tlog/CL.command.1.tlog
/x64/Debug/Trie.obj
/x64/Debug/Trie.log
/x64/Debug/main.obj
/Trie.vcxproj.user
/Trie.vcxproj.filters
/Trie.vcxproj
/Release/vc141.pdb
/Release/vc.nativecodeanalysis.all.xml
/Release/TrieTest.tlog/TrieTest.lastbuildstate
/Release/TrieTest.tlog/link.write.1.tlog
/Release/TrieTest.tlog/link.read.1.tlog
/Release/TrieTest.tlog/link.command.1.tlog
/Release/TrieTest.tlog/CL.write.1.tlog
/Release/TrieTest.tlog/CL.read.1.tlog
/Release/TrieTest.tlog/CL.command.1.tlog
/Release/Trie3.Build.CppClean.log
/Release/Trie.tlog/Trie.lastbuildstate
/Release/Trie.tlog/link.write.1.tlog
/Release/Trie.tlog/link.read.1.tlog
/Release/Trie.tlog/link.command.1.tlog
/Release/Trie.tlog/CL.write.1.tlog
/Release/Trie.tlog/CL.read.1.tlog
/Release/Trie.tlog/CL.command.1.tlog
/Release/Trie.log
/Release/test.obj
/Release/test.nativecodeanalysis.xml
/Release/NativeCodeAnalysis.read.1.tlog
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/TrieTest.tlog/TrieTest.lastbuildstate
/Debug/TrieTest.tlog/link.write.1.tlog
/Debug/TrieTest.tlog/link.read.1.tlog
/Debug/TrieTest.tlog/link.command.1.tlog
/Debug/TrieTest.tlog/CL.write.1.tlog
/Debug/TrieTest.tlog/CL.read.1.tlog
/Debug/TrieTest.tlog/CL.command.1.tlog
/Debug/Trie.tlog/Trie.lastbuildstate
/Debug/Trie.tlog/link.write.1.tlog
/Debug/Trie.tlog/link.read.1.tlog
/Debug/Trie.tlog/link.command.1.tlog
/Debug/Trie.tlog/CL.write.1.tlog
/Debug/Trie.tlog/CL.read.1.tlog
/Debug/Trie.tlog/CL.command.1.tlog
/Debug/Trie.obj
/Debug/Trie.log
/Debug/Trie.Build.CppClean.log
/Debug/test.obj
/Debug/main.obj
